[Unit]
Description=noVNC remote desktop server
After=tigervnc@:1.service
 
[Service]
Type=simple
User=default
ExecStart=websockify -D --web=/usr/share/novnc/ 6901 localhost:5901

[Install]
WantedBy=multi-user.target
